@mixin grid-cols($cols, $gap: 0px) {
  display: grid;
  grid-template-columns: repeat($cols, 1fr);
  gap: $gap;
  @content;
}

@mixin flex-col($x: center, $y: center, $gap: 0px) {
  display: flex;
  flex-direction: column;
  align-items: $x;
  justify-content: $y;
  gap: $gap;
  @content;
}

@mixin flex-row($x: center, $y: center, $gap: 0px) {
  display: flex;
  align-items: $y;
  justify-content: $x;
  gap: $gap;
  @content;
}

@mixin start($direction: column, $gap: 0, $align: center) {
  display: flex;
  @if $direction == row {
    align-items: $align;
    justify-content: flex-start;
  } @else {
    flex-direction: column;
    align-items: flex-start;
    justify-content: $align;
  }
  gap: $gap;
  @content;
}

@mixin between($gap: 0px, $align: center) {
  display: flex;
  flex-direction: row;
  align-items: $align;
  justify-content: space-between;
  gap: $gap;
  @content;
}

@mixin center($gap: 0, $direction: row) {
  display: flex;
  flex-direction: $direction;
  align-items: center;
  justify-content: center;
  gap: $gap;
}

@mixin font($font-size: 1rem, $font-weight: 400, $line-height: normal) {
  font-size: $font-size;
  font-weight: $font-weight;
  line-height: $line-height;
  @content;
}

@mixin font-face($font-family, $url, $format: woff2, $weight, $style: normal) {
  @font-face {
    font-family: "#{$font-family}";
    src: url("./assets/fonts/#{$url}") format("#{$format}");
    font-weight: #{$weight};
    font-display: swap;
    font-style: $style;
  }
}

@mixin space-x($margin: 0.25rem) {
  & > :not([hidden]) ~ :not([hidden]) {
    --tw-space-x-reverse: 0;
    margin-right: calc($margin * var(--tw-space-x-reverse));
    margin-left: calc($margin * calc(1 - var(--tw-space-x-reverse)));
  }
}

@mixin space-y($margin: 0.25rem) {
  & > :not([hidden]) ~ :not([hidden]) {
    --tw-space-y-reverse: 0;
    margin-top: calc($margin * calc(1 - var(--tw-space-y-reverse)));
    margin-bottom: calc($margin * var(--tw-space-y-reverse));
  }
}

@mixin not($selector) {
  &:not(:#{$selector}-child) {
    @content;
  }
}

@mixin hover {
  &:hover {
    @content;
  }
}

@mixin before($cnt: "") {
  &::before {
    content: $cnt;
    position: absolute;
    @content;
  }
}

@mixin after($cnt: "") {
  &::after {
    content: $cnt;
    position: absolute;
    @content;
  }
}

@mixin show($selector, $selector2) {
  section:not(#{$selector}) {
    display: none !important;
  }

  @if $selector != header {
    @if $selector2 != true {
      header {
        display: none !important;
      }
    }
  }

  @if $selector != footer {
    @if $selector2 != true {
      footer {
        display: none !important;
      }
    }
  }
}
