@use "../base/mixins" as mixin;
.header {
  position: fixed;
  top: 17px;
  left: 50%;
  padding: 0 10px;
  transform: translateX(-50%);
  width: 100%;
  z-index: 1000;

  .header__logo {
    transition: 0.3s;
    padding-left: 0;
  }

  .header__actions {
    margin-right: 0;
    transition: 0.3s;
  }
  .header__actions--item {
    background-color: var(--primary-light);
    &:hover {
      background-color: var(--primary);
    }
  }

  .header__toggle {
    transition: 0.3s;
    margin-right: 0;
  }
  .container {
    @include mixin.flex-row(space-between);
    margin-top: -10px !important;
    transition: 0.3s;

    background-color: var(--white);
    border-radius: 15px;
    padding: 17px !important;
    -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    box-shadow: 0 5px 10px 2px #223c5033;
  }
  &__logo {
    font-size: 20px;
    font-weight: 700;
  }
  &__menu {
    position: static;
    background-color: var(--white);
    @include mixin.flex-row(space-between, center, 10px);
    transition: 0.3s;
    @media screen and (max-width: 560px) {
      position: absolute;
      width: calc(100% - 20px);
      top: 70px;
      left: -100%;
      padding: 22px;
      padding-bottom: 41px;
      border-bottom-right-radius: 10px;
      border-bottom-left-radius: 10px;
      @include mixin.flex-col(flex-end, center, 32px);
      z-index: 1000;
      .header__menu--item {
        cursor: pointer;
        padding: 0;
        a {
          margin: 0;
        }
      }
    }
    @media screen and (max-width: 450px) {
      width: 100%;
    }
    &--actions {
      width: 100%;
      display: none;
      margin-bottom: 13px;
      @media screen and (max-width: 560px) {
        @include mixin.between;
      }
    }
    &--item {
      a,
      p {
        font-size: 12px;
        line-height: 14.4px;
      }
      @media screen and (max-width: 560px) {
        margin-right: 21px;
        a,
        p {
          font-size: 20px;
          line-height: 24px;
        }
      }
    }
    .menu--item {
      display: none;
      @media screen and (max-width: 560px) {
        display: flex;
      }
    }
    &--language {
      display: none;
      position: absolute;
      top: 100px;
      left: 22px;
      &:hover {
        .header__language--list {
          display: flex;
          border: 1px solid var(--gray);
        }
      }
      span {
        font-size: 12px;
        line-height: 14.4px;
        font-weight: 600;
      }
      @media screen and (max-width: 560px) {
        @include mixin.flex-row(center, center);
      }
    }
  }
  &__actions {
    @include mixin.flex-row(center, center, 5px);
    @media screen and (min-width: 1040px) {
      margin-right: 10px;
    }
    @media screen and (min-width: 1150px) {
      margin-right: 16px;
    }
    &--button {
      @include mixin.flex-row(center, center);
      font-size: 12px;
      line-height: 14.4px;
      font-weight: 600;
      @media screen and (max-width: 560px) {
        display: none;
      }
    }
    &--item {
      background-color: var(--white);
      padding: 6px 20px;
      border-radius: 5px;
      transition: 0.3s;

      &:hover {
        background-color: var(--primary);
        svg {
          path {
            fill: var(--white);
            color: var(--white);
          }
        }
      }
    }
  }
  &__toggle {
    display: none;
    align-items: center;
    justify-content: center;
    margin-right: 50px;
    @media screen and (max-width: 560px) {
      display: flex;
    }
    @media screen and (max-width: 670px) {
      margin-right: 30px;
    }
    @media screen and (max-width: 350px) {
      margin-right: 20px;
    }
  }
}

.open {
  transition: 0.3s;

  left: 10px;
  height: 100svh;
  justify-content: flex-start;
  @media screen and (max-width: 576px) {
    height: auto;
  }
}
