@use "../base/mixins" as mixin;

.card {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  background-color: var(--white);

  &-image {
    position: relative;
    padding: 22px;
    min-height: 250px;
    max-height: 250px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: #f8f5fa;
    overflow: hidden;
    @include mixin.center;
    @media screen and (max-width: 470px) {
      border-top-left-radius: 6.5px;
      border-top-right-radius: 6.5px;
      min-height: 200px;
      max-height: 200px;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
  &-no-image {
    text-align: center;
  }

  &-content {
    width: 100%;
    padding: 27px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;

    @media screen and (max-width: 470px) {
      padding: 17px 13px 13px;
    }
  }
  &-title {
    width: 100%;
    height: 29px;
    font-size: 12px;
    font-weight: 700;
    color: var(--text-color);
    margin-bottom: 13px;
    text-transform: capitalize;
    overflow: hidden;
    text-overflow: ellipsis;
    @media screen and (max-width: 470px) {
      font-size: 12px;
      margin-bottom: 5px;
    }
  }
  &-description {
    max-width: 100%;
    height: 36px;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 10px;
    line-height: 12px;
    color: var(--gray);
    margin-bottom: 13px;
    @media (max-width: 470px) {
      font-size: 8px;
      letter-spacing: 0;
      margin-bottom: 10px;
    }
  }
  &-stock {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &-price {
    margin-top: auto;
    font-size: 12px;
    font-weight: 700;
    color: #000;
    margin-bottom: 18px;
    @media screen and (max-width: 470px) {
      font-size: 9px;
      margin-bottom: 11px;
    }
  }
  &-actions {
    @include mixin.between(7px);
    @media (max-width: 470px) {
      gap: 5px;
    }
  }
  &-btn {
    padding: 9px 12px;
    width: 100%;
    border-radius: 5px;
    font-size: 10px;
    font-weight: 600;
    letter-spacing: -0.6px;
    @media (max-width: 470px) {
      font-size: 7px;
      padding: 5px 7.5px;
      border-radius: 3.76px;
    }
    &:first-child {
      background-color: var(--primary);
      color: var(--white);
      white-space: nowrap;
      &:hover {
        background-color: var(--primary);
      }
    }
    &:last-child {
      background-color: var(--primary-light);
      color: var(--text-color);
      &:hover {
        background-color: #e3e3e3;
      }
    }
  }
  @media screen and (max-width: 470px) {
    border-radius: 6.5px;
  }
}
