@use "../base/mixins" as mixin;

.toplink {
  @include mixin.flex-row(center, center, 6px);
  background-color: #fff;
  border-radius: 10px;
  cursor: pointer;
  p {
    padding-left: 15px;
    font-size: 14px;
    line-height: 16.8px;
    &::first-letter {
      text-transform: uppercase;
    }
  }
  button {
    width: 40px;
    height: 40px;
    @include mixin.center;
    background-color: #f8f5fa;
    border-radius: 10px;
  }
  &:hover {
    button {
      background-color: var(--primary);
      svg {
        transition: 0.3s;
        rotate: 45deg;
        path {
          fill: #fff;
        }
      }
    }
  }

  @media screen and (max-width: 400px) {
    border-radius: 5.7px;
    p {
      font-size: 8px;
      line-height: 9.6px;
      padding-left: 8px;
    }
    button {
      width: 25px;
      height: 25px;
      border-radius: 5.7px;
    }
  }
}
