.cart {
  margin: 110px 0;
  .container {
    padding: 30px;
    border-radius: 10px;
    background-color: var(--white);
  }
  &__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    @media screen and (max-width: 900px) {
      grid-template-columns: 1fr;
    }
  }
  &__content {
    width: calc(100% - 150px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
  &__top {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  &__title {
    font-size: 24px;
    font-weight: bold;
  }
  &__details {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 15px;
  }
  &__item {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
    padding: 10px;
    background-color: var(--primary-light);

    border-radius: 10px;
    @media screen and (max-width: 576px) {
      padding: 6px;
      padding-bottom: 10px;
    }
    &--top {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      @media screen and (max-width: 476px) {
        margin-top: 40px;
      }
    }
    &--name {
      max-width: 70%;
      font-size: 16px;
      font-weight: 500;
      @media screen and (max-width: 768px) {
        font-size: 10px;
      }
    }
    &--bottom {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      @media screen and (max-width: 476px) {
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
      }
    }
  }
  &__image {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 150px;
    border-radius: 10px;
    background-color: var(--white);
    img {
      width: 120px;
      height: 120px;
    }
  }
  &__details {
    &--item {
      text-align: left;
      p {
        font-size: 14px;
        font-weight: 500;
        color: var(--gray);
        margin-bottom: 6px;
        @media screen and (max-width: 768px) {
          font-size: 8px;
        }
      }
      div {
        font-size: 16px;
        font-weight: 500;
        &::first-letter {
          text-transform: uppercase;
        }
        @media screen and (max-width: 768px) {
          font-size: 10px;
        }
      }
    }
  }
  &__toggle {
    padding: 12px 10px;
    max-width: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    border-radius: 10px;
    background-color: var(--primary-light);
  }
  &__quantity {
    display: flex;
    align-items: center;

    button {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 30px;
      height: 30px;
      border-radius: 10px;
      background-color: var(--white);
      font-size: 16px;
      cursor: pointer;
    }

    input {
      width: 30px;
      height: 30px;
      background-color: var(--white);
      margin: 0 5px;
      text-align: center;
      border-radius: 10px;
    }
  }
  &__price {
    font-weight: bold;
    margin-top: 7px;
  }
  &__total {
    font-weight: 500;
    margin-top: 5px;
    @media screen and (max-width: 576px) {
      margin-bottom: 82px;
    }
  }
  &__bottom {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
.cancel-btn {
  position: absolute;
  top: 7px;
  right: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  font-size: 40px;
  cursor: pointer;
}
