@use "../base/mixins" as mixin;

.products {
  padding: 70px 0;
  @include mixin.between(25px);
  flex-grow: 1;
  &--list {
    position: relative;
    width: 100%;
    @include mixin.grid-cols(3, 15px);
    @media screen and (max-width: 1150px) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media screen and (max-width: 560px) {
      grid-template-columns: repeat(1, 1fr);
      gap: 10px;
    }
  }
}
.no-product {
  padding: 70px 0;
  width: 100%;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
